body {
  background-image: url("bg.jpg");
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
 #root{
   width: 100%;
 }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#title {
  text-align: center;
  top: 45px;
  font-size: 40px;
  letter-spacing: 0.2px;
  word-spacing: 5px;
}